body {
    margin: 0;
    background-image: url(../img/DJI_0822.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: top left;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;
    display: block;
}

.title {
    font-size: 35px;
    display: block;
    margin: 15px 0;
    font-weight: bold;
}

.title img {
    height: 40px;
    vertical-align: middle;
}

ul {
    display: block;
    align-items: center;
}

.pakiety {
    text-align: left;
}

.reklamy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
    gap: 10px;
    width: calc(100% - 80px);
    padding: 10px 40px;
}

.reklamy > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-sizing: border-box;
    display: block;
}

.resizing {
    animation-name: resizing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes resizing {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
