body {
    margin: 0;
    background-image: url(../img/DJI_0822.jpg);
    background-size: cover;
    background-position: center;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;
    display: block;
}

.title {
    font-size: 35px;
    display: block;
    margin: 15px 0;
    font-weight: bold;
}

.title img {
    height: 40px;
    vertical-align: middle;
}

.bottom-image {
    height: 60px;
    max-width: 250px;
}

ul {
    display: block;
    align-items: center;
}

.pakiety {
    text-align: left;
}

.reklamy img {
    width: 50%;
    height: 150px;
}