body {
    margin: 0;
    background-image: url(../img/DJI_0822.jpg);
    background-size: cover;
    background-position: center;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;
    display: block;
}

.title {
    font-size: 35px;
    display: block;
    margin: 15px 0;
    font-weight: bold;
}

.title img {
    height: 40px;
    vertical-align: middle;
}

.bottom-image {
    height: 60px;
    max-width: 250px;
}

ul {
    display: block;
    align-items: center;
}

.pakiety {
    text-align: left;
}

.reklamy img {
    width: 50%;
    height: 150px;
}

.funkcje img {
    width: 50%;
    max-height: 150px;
}

.resizing {
    animation-name: resizing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes resizing {
    0%   {transform: scaleX(1.0);}
    50%  {transform: scaleX(0.0);}
    100% {transform: scaleX(1.0);}
}