body {
    margin: 0;
    background-image: url(../img/DJI_0822.jpg);
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;
    display: block;
}

.title {
    border: solid 1px black;
}

.title img {
    height: 50px;
    vertical-align: middle;
}

.bottom-image {
    height: 60px;
    max-width: 250px;
}